<%-include("header")-%>
<div class="box">
 <% const name = listName %>
 <% if( name === "Something"){ %>
  <%  for(var i=0;i<Items.length;i++){    %>
    <p> <%=Items[i].Message%></p>
    <h3><%=Items[i].Email%></h3>
    <h3> <%=Items[i].FEmail%> </h3>
  <%}%>
  <%}else{%>
  <%  for(var j = 0;j<Items.length;j++){ %>
  <%  var Sname = Items[j].FEmail %>  
  <%    if(name === Sname){ %>
        <p><%=Items[j].Message%><h3><%=Items[j].Email%></h3></p>
  <%    } %>
   <%}%>
   <%}%>
</div>


<%-include("footer")-%>
